.sale-history-container{
	background-color: #f0f0f0;
}

.table-wrapper{
	max-width: 900px;
	margin-inline: auto;
}

.records-table{
 border-collapse: collapse;
 width: 100%;
 font-family: var(--font-one);
 color: rgb(103, 70, 54);
}

.table-caption{
	font-family: var(--font-two);
	font-weight: 700;
	font-size: 3rem;
	background-color:#B5C18E;
}

.records-table th{
	background-color: hsl(60, 56%, 91%);
}

.records-table tr:nth-of-type(2n){
	background-color:white
}

.records-table th, .records-table td, .records-table caption{
	padding: 1rem;
}

.records-table th , .records-table caption {
	text-align: left;
}

.back-to-home-button{
	color: rgb(103, 70, 54);
	position: fixed;
	top:90%;
	left:90%;
}
