.home-container{
	display: flex;

}

.aside-content{
	height: 100svh;
	width: 350px;
}
.main-content{
	height: 100svh;
	background-color: #f0f0f0;
	flex-grow: 1;
	position: relative;
	overflow-y: scroll;
	width: 100%;
}
