.searchbar-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	padding: 1rem;
	background-color: white;
	margin: 1rem;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border-radius: 0.5rem;
}

.searchbar-group-identifier{
	font-family: var(--font-one);
	font-size: 1.5rem;
	font-weight: 500;
	color: rgb(103, 70, 54);
}

.filter-wrapper{
	display: flex;
	gap: 1rem;
	align-items: center;
}

.product-filter-button{
	margin: 0;
	background-color: #B5C18E;;
	color: rgb(103, 70, 54);
}

.product-filter-button span{
	background-color:rgba(223, 212, 116, 0.726);
	border-radius: 0.25rem;
	margin-left: 0.25rem;
	padding: 0.15rem;
}

.search-input-container{
	display: flex;
	gap: 1rem;
	background-color: rgb(220, 220, 220);
	border-radius: 0.5rem;
}

.search-input-container input[type='text'],
.search-input-container button{
	border: none;
	outline: none;
	background-color: inherit;

}

.search-input-container input[type='text']{
	padding: 0.5rem 0;
	padding-left: 1rem;
	border-radius: 0.5rem 0 0 0.5rem ;
}

.search-input-container button{
	padding: 0.5rem 0;
	padding-right: 1rem;
	border-radius: 0 0.5rem 0.5rem 0;
}

